* {
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 0, 25);
    background-image: url(../images/back.jpg);
    font-family: Ubuntu, Arial;
}

.flex-container {
   display: flex;
   gap: 1em;
   margin-bottom: 1em;
}

.header {
    height: 100px;
    background-color: #ffad737a;
    margin-bottom: 1em;
    border: 1px solid white;
}

.main {
flex-basis: 100px;
flex-grow: 1;
border: 1px solid white;
min-width: 50vw;

}

.left {
background-color: green;
flex-basis: 200px;
order: -1;
border: 1px solid white;
flex: calc();
}

.right {
background-color: blue;
flex-basis: 250px;
border: 1px solid white;
}

.footer {
    height: 100px;
    background-color: yellow;
    border: 1px solid white;
    
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    gap: 1em;
}

.card {
    flex-basis: 335px;
    flex-grow: 1;
    max-height: 350px;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    cursor: pointer;
    border-radius: 14px;
    padding-top: 20px;
}

.card:hover {
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 4px 14px 32px rgba(190, 126, 255, 0.44);
    transform: scale(1.05);
}



img {
    max-width: 100%;
    height: 60%;
    object-fit: contain;
    display: block;
    margin: 10px auto;
}

.description {
    border: 0.1rem solid rgb(240, 221, 255);
    border-radius: 2rem;
    padding: 0.3em;
    box-shadow:
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
    color: #fff;
    width: 15vw;
    margin: 20px auto;
    text-align: center;
    transition: 0.25s;
}

.description:hover {
    background-color: #a30fddbf;
}

.price {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    text-shadow:
        0 0 5px #1fff,
        0 0 10px #1fff,
        0 0 20px #1fff,
        0 0 40px #55ff,
        0 0 80px #55ff,
        0 0 90px #55ff,
        0 0 100px #55ff;
}

.link-style {
    border-radius: 2rem;
    padding: 0.3em;
    box-shadow:
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        inset 0 0 1.3rem #6d0b94;
    color: #fff;
    width: 15vw;
    transition: 0.25s;
    text-decoration: none;
    padding: 10px 20px;
}

.link-style:hover {
    background-color: #6d0b94;
}
